design.waiwai.is {
	encode zstd gzip

	basic_auth {
		import /etc/caddy/users
	}

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
		Permissions-Policy "camera=(), microphone=(), geolocation=()"
		X-Frame-Options "SAMEORIGIN"
		-Server
	}

	reverse_proxy app:3000
}
